/* Fader.module.css */
.faderContainer {
  height: 300px;
  width: 40px;
  background-color: grey;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumb {
  height: 45px;
  width: 90px;
  background-color: white;
  position: absolute;
  box-shadow: 0px 0px 4px 0px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .faderContainer {
    height: 500px;
    width: 80px;
  }
  .thumb {
    height: 100px;
    width: 190px;
  }
}